@mixin mainBtn {
    outline: none;
    border: 0px;
    // outline: none;
    // background: linear-gradient(90deg, rgba(98, 237, 200, 1) 0%, rgba(90, 158, 240, 1) 39%, rgba(24, 81, 143, 1) 100%);
    color: black;
    &:hover {
        background-color: darkmagenta;
        color: aliceblue;
    }
}

.btn {
    @include mainBtn
}

.hero_con {
    position: relative;
    width: 100%;
    height: 100vh;
    video {
        z-index: -1;
        // position: fixed;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .banner {
        // color: aliceblue;
        font-weight: bold;
        position: absolute;
        top: 100px;
        left: 20px;
        span {
            font-size: 1.8rem;
            background-color: #007bff;
            box-shadow: inset 10px 10px 10px;
        }
    }
}