@mixin link {
    // color: aliceblue;
    &:hover {
        text-decoration: none;
        color: white;
    }
}

.link {
    @include link();
}

@mixin Btn_outline {
    &:focus {
        box-shadow: none;
    }
}

.Btn_out {
    @include Btn_outline();
}

//////////////////////////// store ///////////////////////////
.container_store {
    img {
        width: 100%;
        height: 300px;
    }
}

//////////////////////////// slider ///////////////////////////
.btn {
    color: purple;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid purple;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
}

.btn:hover {
    color: white;
}

.btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: purple;
    z-index: -1;
    transition: all 1s;
}

.btn:hover::before {
    width: 160%;
}