.link:hover {
  text-decoration: none;
  color: white;
}

.Btn_out:focus {
  box-shadow: none;
}

.container_store img {
  width: 100%;
  height: 300px;
}

.btn {
  color: purple;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid purple;
  font-size: 17px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
}

.btn:hover {
  color: white;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: purple;
  z-index: -1;
  transition: all 1s;
}

.btn:hover::after {
  width: 160%;
  height: 100%;
}

.rot:hover {
  transform: rotate3d(-1, 1, 0, 73deg);
  -webkit-transform: rotate3d(-1, 1, 0, 73deg);
  -moz-transform: rotate3d(-1, 1, 0, 73deg);
  -ms-transform: rotate3d(-1, 1, 0, 73deg);
  -o-transform: rotate3d(-1, 1, 0, 73deg);
}

.image_container {
  perspective: 1000px;
  /* Adjust the perspective depth as needed */
}

.rotate_image {
  width: 300px;
  transition: transform 0.5s;
}

.rotate_image:hover {
  transform: rotateY(180deg);
}

.rotated {
  transform: rotateY(180deg);
  /* Rotate the image 180 degrees */
}

.bootle_font {
  font-family: "Brush Script MT", cursive;
}
