.link:hover {
  text-decoration: none;
  color: white;
}

.Btn_out:focus {
  box-shadow: none;
}

.navbar_app_shop {
  background: #62edc8;
  background: linear-gradient(90deg, #62edc8 0%, #5a9ef0 39%, #18518f 100%);
}

.container_store .bild img {
  width: 100%;
  height: 300px;
}

.shop .rgt {
  flex: 1;
}

.shop .lft {
  flex: 2;
}
