@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    padding: 0%;
    margin: 0%;
    // font-family: 'IBM Plex Sans', sans-serif;
    font-family: "Poppins", sans-serif;
    // font-weight: 400;
    box-sizing: border-box;
    box-shadow: none;
    // scroll-behavior: smooth;
    // scroll-padding-top: 75px;
    // width: 100%;
    // height: 100%;
}

// @font-face {
//     font-family: "IBM Plex Sans":
//     src: local('CustomFont1Name'),
//          url('./fonts/CustomFont1Name.woff') format('woff'),
//          url('./fonts/CustomFont1Name.woff2') format('woff2');
// }
////////////////////////////
$font: 1.36rem;
@mixin mainBtn {
    outline: none;
    border: 0px;
    // outline: none;
    // background: linear-gradient(90deg, rgba(98, 237, 200, 1) 0%, rgba(90, 158, 240, 1) 39%, rgba(24, 81, 143, 1) 100%);
    color: black;
    &:hover {
        background-color: darkmagenta;
        color: aliceblue;
    }
}

.btnn {
    @include mainBtn;
}

.scrollChange {
    color: black;
    &:hover {
        color: cornflowerblue;
    }
}

.Hero_Section {
    cursor: none;
    overflow: hidden;
    .cursor {
        box-sizing: border-box;
        width: 44px;
        height: 44px;
        background-color: rgb(255, 255, 255);
        position: fixed;
        pointer-events: none;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        mix-blend-mode: difference;
        transform: translate(-44%, -40%);
        -webkit-transform: translate(-44%, -40%);
        -moz-transform: translate(-44%, -40%);
        -ms-transform: translate(-44%, -40%);
        -o-transform: translate(-44%, -40%);
    }
    .text_hero {
        &:hover~.cursor {
            //background-color: rgb(0, 200, 200);
            height: 120px;
            width: 120px;
        }
    }
    .text_hero2 {
        background-color: aliceblue;
    }
    .hero {
        &:hover {
            // border-color: rgb(220, 22, 255);
            // border-bottom: solid 3px rgb(221, 27, 255);
            // border-top: solid 3px rgb(221, 27, 255);
            transform: scaleX(2);
        }
        width: 4rem;
        height: 4rem;
        //color: black;
        background-color: rgb(161, 161, 161);
        // border: 2.8px solid;
        // border-color: rgb(0, 0, 0);
        // border-radius: 10%;
        transform: scaleX(1);
        // transition-duration: 2s;
    }
    .programming {
        border-bottom: solid 4px rgb(255, 18, 223);
        // background-color: aqua;
    }
}

.special_color {
    color: rgb(255, 18, 223);
}

///////////////////// Navbar
.conn {
    // position: relative;
    height: 70px;
    // background-color: rgba(0, 0, 0, 0.18);
    // position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    // left: 22%;
    .navbar {
        // position: absolute;
        // z-index: 999;
        width: 70%;
        left: 24%;
        // height: 100px;
        // position: fixed;
        // background: linear-gradient(90deg, rgba(98, 237, 200, 1) 0%, rgba(90, 158, 240, 1) 39%, rgba(24, 81, 143, 1) 100%);
        .brnd {
            font-size: $font;
        }
        .toggle {
            // background-color: rgb(27, 27, 27);
            .fa {
                color: rgb(238, 94, 123);
            }
        }
        .ul {
            font-size: $font;
            display: flex;
            gap: 20px;
        }
        .li_link {
            &:hover {
                text-decoration: none;
                color: rgb(255, 0, 0);
            }
        }
    }
}

///// Form styles
.form-container {
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
}

.title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.form {
    margin-top: 1.5rem;
}

.input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
}

.input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
    border-color: rgba(167, 139, 250);
}

.forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
    margin: 8px 0 14px 0;
}

.forgot a,
.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
    display: block;
    width: 100%;
    background-color: rgba(167, 139, 250, 1);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
}

.social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
}

// .social-icons {
//     display: flex;
//     justify-content: center;
// }
// .social-icons .icon {
//     border-radius: 0.125rem;
//     padding: 0.75rem;
//     border: none;
//     background-color: transparent;
//     margin-left: 8px;
// }
// .social-icons .icon svg {
//     height: 1.25rem;
//     width: 1.25rem;
//     fill: #fff;
// }
.signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
}

/////////////////////// HeroSection
.hero_con {
    position: relative;
    width: 100%;
    height: 100vh;
    video {
        z-index: -1;
        // position: fixed;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .banner {
        // color: aliceblue;
        font-weight: bold;
        position: absolute;
        top: 100px;
        left: 20px;
        // span {
        //     font-size: 1.8rem;
        //     background-color: #007bff;
        //     box-shadow: inset 10px 10px 10px;
        // }
    }
}